# Objects
*.o
*.elf
*.bin
*.hex
*.map
*.lst
*.lib

# log files
*.log
*.swp
*.lock

# In IAR Project
*.ewt
*.dep
*.xrl
*.pbi
Debug/
Release/
settings/

# In Keil Project
*.uvguix*
*.i
*.cod
*.axf
*.d
*.lib
*.crf
*.scvd
Objects/
Listings/
DebugConfig/

# About eclipse
RemoteSystemsTempFiles/
.metadata/
*.launch
.code_review_properties

# AltiumDesigner folder
__Previews/
History/
*Logs*/
*Outputs*/
*.PrjPcbStructure
